# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class
*.iml

.idea
*/target
target/
out/
# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

将删除 easyproxy-agent/src/main/java/org/easyproxy/agent/util/
将删除 easyproxy-agent/src/main/resources/
将删除 easyproxy-agent/target/classes/
将删除 easyproxy-agent/target/generated-sources/
将删除 easyproxy-agent/target/generated-test-sources/
将删除 easyproxy-agent/target/test-classes/
将删除 easyproxy-core/target/classes/org/
将删除 easyproxy-core/target/generated-sources/
将删除 easyproxy-core/target/generated-test-sources/
将删除 easyproxy-core/target/test-classes/test/
将删除 target/generated-sources/
